<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>api</tech_name>
	<name>OPEN APIs</name>
	<description>A connective interface to commute with FLUX</description>		
	<icon>static/images/api.png</icon>
	<version>1.0.0</version>
	<license>plugins</license>	
	<author>Flux Telecom</author>
	<status>production</status>
</addon>
